@model IEnumerable<LDSI.Lwg.Apresentacao.Models.Integrante>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <h3><a asp-action="Create" class="btn btn-success glyphicon glyphicon-plus"></a> Incluir novo Integrante</h3>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EhLider)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EquipeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aluno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Equipe)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EhLider)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EquipeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aluno.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Equipe.EquipeId)
            </td>
            <td>
                <a class="btn btn-warning glyphicon glyphicon-pencil" asp-action="Edit" asp-route-id="@item.IntegranteId"></a> |
                <a class="btn btn-info glyphicon glyphicon-search" asp-action="Details" asp-route-id="@item.IntegranteId"></a> |
                <a class="btn btn-danger glyphicon glyphicon-trash" asp-action="Delete" asp-route-id="@item.IntegranteId"></a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
