@model IEnumerable<LDSI.Lwg.Apresentacao.Models.JulgamentoFatos>
@using LDSI.Lwg.Apresentacao.Enums;

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TamanhoEquipe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TempoExibicao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Professor)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TamanhoEquipe)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TempoExibicao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Professor.Nome)
                </td>
                <td>
                    @if (User.Claims.Any(c => c.Value == "Professor"))
                    {
                        <a class="btn btn-warning glyphicon glyphicon-pencil" asp-action="AlterarStatusJF" asp-route-julgamentoFatosId="@item.JulgamentoFatosId"></a>
                    }
                </td>
                <td>
                    @if (User.Claims.Any(c => c.Value == "Professor"))
                    {
                        <a class="btn btn-info" asp-action="Index" asp-controller="Fato" asp-route-turmaId="@ViewBag.TurmaId" asp-route-julgamentoFatosId="@item.JulgamentoFatosId">Fatos</a>
                    }
                    else
                    {
                        <a class="btn btn-info" asp-action="Index" asp-controller="Equipe" asp-route-julgamentoFatosId="@item.JulgamentoFatosId">Entrar no Julgamento</a>
                        @if (item.Status == StatusJugamentoFatos.Execucao)
                        {
                            <a class="btn btn-info" asp-action="JulgamentoFatosExec" asp-route-julgamentoFatosId="@item.JulgamentoFatosId">Equipes</a>
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
