@model IEnumerable<LDSI.Lwg.Apresentacao.Models.Turma>

@{
    ViewData["Title"] = "Turmas";
}
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Codigo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Disciplina)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Professor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Codigo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Disciplina.DisciplinaId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Professor.Id)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.TurmaId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.TurmaId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.TurmaId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
