@model IEnumerable<LDSI.Lwg.Apresentacao.Models.Turma>

@{
    ViewData["Title"] = "Turmas";
}

<div class="container col-md-10 mt-5">
    <p>
        <h3><a asp-action="Create" class="btn btn-success glyphicon glyphicon-plus"></a> Criar nova Turma</h3>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Codigo)
                </th>
                @*<th>
                        @Html.DisplayNameFor(model => model.Disciplina)
                    </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.Professor)
                </th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Codigo)
                    </td>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.Disciplina.Nome)
                        </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.Professor.Nome)
                    </td>
                    <td>
                        @if (User.Claims.Any(c => c.Value == "Professor"))
                        {
                            <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.TurmaId">Editar</a>
                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.TurmaId">Excluir</a>
                        }
                    </td>
                    <td>
                        <a class="btn btn-info" asp-action="Index" asp-controller="JulgamentoFatos" asp-route-turmaId="@item.TurmaId">Julgamentos de fatos</a>
                        @if (User.Claims.Any(c => c.Value == "Professor"))
                        {
                            <a class="btn btn-info" asp-action="Index" asp-controller="AlunosTurma" asp-route-turmaId="@item.TurmaId">Alunos</a>
                        }
                        </td>
                </tr>
            }
        </tbody>
    </table>
</div>