@model IEnumerable<LDSI.Lwg.Apresentacao.Models.Turma>

@{
    ViewData["Title"] = "Turmas";
}

<div class="container col-md-10 mt-5">
    <p>
        <h3><a asp-action="Create" class="btn btn-success glyphicon glyphicon-plus"></a> Criar nova Turma</h3>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Codigo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Disciplina)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Professor)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Codigo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Disciplina.DisciplinaId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Professor.Id)
                    </td>
                    <td>
                        <a class="btn btn-warning glyphicon glyphicon-pencil" asp-action="Edit" asp-route-id="@item.TurmaId"></a>
                        <a class="btn btn-info glyphicon glyphicon-search" asp-action="Details" asp-route-id="@item.TurmaId"></a>
                        <a class="btn btn-danger glyphicon glyphicon-trash" asp-action="Delete" asp-route-id="@item.TurmaId"></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>