@model LDSI.Lwg.Apresentacao.Models.Disciplina

@{
    ViewData["Title"] = "Disciplinas";
}
@{Layout = "~/Views/Shared/_Layout.cshtml"; }

<div class="container col-md-10 mt-5">
    <h3>Disciplina</h3>
    <hr />
    <div class="row mt-5">
        <div class="container col-md-5">
            <div class="mb-5">
                <h3>Detalhes da Disciplina</h3>
            </div>
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Nome)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Nome)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Curso)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Curso.CursoId)
                </dd>
            </dl>

            <div class="text-center mr-5">
                <a class="btn btn-info" asp-action="Edit" asp-route-id="@Model.DisciplinaId">Editar</a>
                <a class="btn btn-info" asp-action="Index">Voltar</a>
            </div>
        </div>
    </div>
</div>