@model IEnumerable<LDSI.Lwg.Apresentacao.Models.Fato>

@{
    ViewData["Title"] = "Alterar Status JF";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Julgamento de fatos - Turma @Model.Select(c => c.Turma).FirstOrDefault().Codigo </h1>
<hr />

@{
    var itens = Html.GetEnumSelectList<LDSI.Lwg.Apresentacao.Enums.StatusJugamentoFatos>();
    itens.FirstOrDefault(c => c.Text == ViewBag.JulgamentoFatos.Status.ToString()).Selected = true;
}


<div class="row">
    <div class="col-md-4">
        <form asp-action="AlterarStatusJF" asp-route-julgamentoFatosId="@ViewBag.JulgamentoFatosId" method="post">
            <label class="control-label">Status</label>
            <select name="statusJF" class="form-control" asp-items="itens"></select>
            <br/>
            <button class="btn btn-primary" type="submit">
                Salvar
            </button>
        </form>
        
    </div>
</div>

<h4>Fatos</h4>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Texto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Verdadeiro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ordem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Topicos)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderBy(c => c.Ordem))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Texto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Verdadeiro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ordem)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Topicos)
                </td>
            </tr>
        }
    </tbody>
</table>
