@model IEnumerable<LDSI.Lwg.Apresentacao.Models.JulgamentoFatos>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TamanhoEquipe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TempoExibicao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Professor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TamanhoEquipe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TempoExibicao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Professor.Id)
            </td>
            <td>
                <a class="btn btn-warning glyphicon glyphicon-pencil" asp-action="Edit" asp-route-id="@item.JulgamentoFatosId"></a> |
                <a class="btn btn-info glyphicon glyphicon-search" asp-action="Details" asp-route-id="@item.JulgamentoFatosId"></a> |
                <a class="btn btn-danger glyphicon glyphicon-trash" asp-action="Delete" asp-route-id="@item.JulgamentoFatosId"></a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
