@model IEnumerable<Curso>

@{
    ViewData["Title"] = "Cursos";
}

<div class="container col-md-10 mt-5">
    <p>
        <a asp-action="Create"><h2>Criar novo Curso</h2></a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Unidade)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Unidade)
                    </td>
                    <td>
                        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.CursoId">Editar</a>
                        <a class="btn btn-info" asp-action="Details" asp-route-id="@item.CursoId">Detalhar</a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.CursoId">Excluir</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>