@model IEnumerable<LDSI.Lwg.Apresentacao.Models.Fato>

@{Layout = "~/Views/Shared/_Layout.cshtml"; }

<p>
    <h3><a asp-action="Create" class="btn btn-success glyphicon glyphicon-plus" asp-route-julgamentoFatosId="@ViewBag.JulgamentoId" asp-route-turmaId="@ViewBag.TurmaId"></a> Criar novo Fato</h3>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Texto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Verdadeiro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ordem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Topicos)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderBy(c => c.Ordem))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Texto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Verdadeiro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ordem)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Topicos)
                </td>
                <td>
                    <a class="btn btn-warning glyphicon glyphicon-pencil" asp-action="Edit" asp-route-id="@item.FatoId"></a> |
                    <a class="btn btn-danger glyphicon glyphicon-trash" asp-action="Delete" asp-route-id="@item.FatoId"></a>
                </td>
            </tr>
        }
    </tbody>
</table>